body {
    margin: 0;
    margin-top: 6em;
    padding: 0;
    font-family: sans-serif;
}
header {
    border-bottom: 5px solid #217690;
    position: fixed;
    top: 0;
    width: 100vw;
}
nav {
    height: 5em;
    background-color: #023d4f;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    height: 5em;
    width: 25%;
    min-width: 75px;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    transition: background-color 500ms;
}

nav a:hover {
    text-decoration: underline;
    background-color: #217690;
}

nav a img {
    object-fit: cover;
    height: 90%;
}

main {
    margin-left: 1em;
    margin-right: 1em;
}

/* apply.css styles */
.labelRequired::after {
    content: "*";
    color: red;
}
#form-skills-check {
    display: grid;
    grid-template-columns: 5% 5%;
}
form input {
    accent-color: #217690;
}
#otherSkills {
    width: 40%;
    height: 5em;
    font-family: sans-serif;
}
.btn {
    padding: 1em 3em;
    margin: 1em 1em 1em 0;
    color: white;
    border: 3px solid #023d4f;
    border-radius: 5px;
    font-weight: bold;
    background: #217690;
    cursor: pointer;
}
.primary {
    background-color: #023d4f;
    border: 3px solid #217690;
}
.btn:hover {
    text-decoration: underline;
}
form .btn {
    width: 15em;
}
fieldset, input, textarea {
    border-color: #217690;
}
input[type="text"], input[type="email"] {
    background: #21769022;
    border: none;
    padding: 0.25em 1em;
    border-radius: 3px;
}
.genderLabel {
    font-size: medium;
}
.formSection p {
    display: flex;
    flex-direction: column;
}
.formSection p input {
    flex: 1;
    font-size: medium;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formSection {
    width: 90%;
    max-width: 700px;
    min-width: 400px;
    background-color: #f0f0f0;
    border: none;
    margin: 1em;
    border-radius: 5px;
}
.formSectionTitle {
    font-size: larger;
    font-weight: bold;
    display: block;
}
#formControls {
    width: 100%;
}
#genderFieldset {
    min-width: fit-content;
}
legend {
    font-size: large;
}
#sectionsList {
    display: none;
}
@media screen  and (min-width: 1000px) {
    form {
        width: 70%;
        float: right;
    }
    #pageInfo {
        float:left;
        width: 30%;
        position: fixed;
        top: 5em;
    }
    #sectionsList {
        display: block;
    }
    .formSection {
        max-width: none;
    }
    #sectionsList ol li a, #sectionsList ol li {
        text-decoration: none;
        color: black;
        font-size: large;
    }
    #sectionsList ol li a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}